/* header START */

.header {
    position: relative;
    z-index: 10;
    min-width: 1190px;
    background-color: #F5F5F5;
}

.header-wrap {
    width: 990px;
    margin: 0 auto;
}

.header-wrap {
    position: relative;
    height: 35px;
}

.header-wrap .iconfont {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.header-left-nav {
    float: left;
}

.header-right-nav {
    float: right;
}

.header-left-nav,
.header-left-nav li,
.header-left-nav li a {
    height: 100%;
}

.header-left-nav li,
.header-right-nav li {
    position: relative;
    float: left;
    color: #6C6C6C;
    padding: 0 6px;
    height: 35px;
    line-height: 35px;
}

.header-wrap .li-hover-bg:hover {
    background-color: #fff;
}

.header-wrap .li-hover-bg.shopping-cart .good-num {
    color: #FF4400;
    font-weight: 700;
}

.header-left-nav li a,
.header-right-nav li a {
    display: inline-block;
    height: 35px;
    color: #6C6C6C;
    margin-right: 7px;
    line-height: 35px;
    text-align: center;
    vertical-align: top;
}

.header-left-nav li a:hover,
.header-right-nav li a:hover {
    color: #FF4400;
}

.header-left-nav .login-link {
    color: #F22E00;
}

.icon-tianchongxing-,
.icon-caidan {
    color: #FF4400;
    font-size: 14px;
    margin-right: 5px;
}

.icon-tianchongxing- {
    font-size: 12px;
}

.icon-iconfontxingxing {
    position: relative;
    top: -1px;
    font-size: 13px;
    color: #9C9C9C;
    margin-right: 5px;
}

.header-wrap .sub-menu {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 10;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.header-wrap .sub-menu li {
    float: none;
    color: #3C3C3C;
    padding: 0 5px;
    line-height: 28px;
}

.header-wrap .sub-menu a {
    display: block;
    margin: 0;
    padding: 0 5px;
    height: 28px;
    color: #6c6c6c;
    line-height: 28px;
    text-align: start;
    white-space: normal;
}

.header-wrap .sub-menu li:hover,
.header-wrap .sub-menu a:hover {
    color: #6c6c6c;
    background-color: #F4F4F4;
}

.header-wrap .mytaobao-menu {
    width: 85px;
}

.header-wrap .seller-center-menu {
    width: 85px;
}

.header-wrap .sub-menu.region-list {
    overflow-y: auto;
    max-height: 270px;
}

.header-wrap .sub-menu.region-list li {
    width: 242px;
    height: 29px;
    padding: 0 0 0 8px;
    line-height: 29px;
    cursor: pointer;
}

.header-wrap .header2 {
    background-color: #FF9000;
}

.header-left-nav .display-region-menu:hover .region-list,
.header-right-nav .mytaobao:hover .mytaobao-menu,
.header-right-nav .favorites:hover .favorites-menu,
.header-right-nav .seller-center:hover .seller-center-menu,
.header-right-nav .customer-service:hover .customer-service-menu,
.header-right-nav .shopping-cart:hover .shopping-cart-menu {
    display: block;
}

.header-right-nav .shopping-cart .shopping-cart-menu {
    width: 296px;
    padding: 8px;
    line-height: 40px;
    min-height: 40px;
    /* text-align: right; */
}

.header-right-nav .shopping-cart .shopping-cart-menu .my-shopping-cart-link {
    display: inline-block;
    height: 25px;
    padding: 0 10px;
    color: #fff;
    line-height: 25px;
    background-color: #f40;
    border-radius: 2px;
    vertical-align: middle;
}

.header-right-nav .shopping-cart-menu .mini-cart-hd h4 {
    padding: 10px 0;
    line-height: 20px;
    text-align: left;
    font-weight: 700;
}

.header-right-nav .shopping-cart-menu .mini-goods-img-wrap {
    float: left;
}

.header-right-nav .shopping-cart-menu .mini-goods-img-wrap a {
    display: inline;
}

.header-right-nav .shopping-cart-menu .mini-goods-img-wrap a:hover {
    background-color: #fff;
}

.header-right-nav .shopping-cart-menu .mini-goods-img-wrap img {
    width: 40px;
    height: 40px;
    vertical-align: top;
}

.header-right-nav .shopping-cart-menu .mini-item {
    margin-bottom: 5px;
}

.header-right-nav .shopping-cart-menu .mini-goods-title {
    float: left;
}

.header-right-nav .shopping-cart-menu .mini-goods-title h4 {
    overflow: hidden;
    width: 160px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-right-nav .shopping-cart-menu .mini-goods-title h4 a {
    /* width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap; */
}

.header-right-nav .shopping-cart-menu .mini-goods-title h4 a:hover {
    color: #f40;
    text-decoration: underline;
    background-color: #fff;
}

.header-right-nav .shopping-cart-menu .mini-goods-right {
    float: right;
    line-height: 20px;
}

.header-right-nav .shopping-cart-menu .mini-goods-right .mini-goods-price {
    color: #f40;
}

.header-right-nav .shopping-cart-menu .mini-goods-right .mini-goods-price .rmb-symbol {
    font-family: arial;
}

.header-right-nav .shopping-cart-menu .mini-goods-right .goods-option {
    text-align: center;
    line-height: 20px;
}

.header-right-nav .shopping-cart-menu .mini-goods-right .goods-option a {
    display: inline;
    /* color: #f40; */
    line-height: 20px;
}

.header-right-nav .shopping-cart-menu .mini-goods-right .goods-option a:hover {
    color: #f40;
    text-decoration: underline;
    background-color: #fff;
}

.header-right-nav .shopping-cart-menu .mini-cart-ft h3 {
    float: left;
}

.header-right-nav .shopping-cart-menu .mini-cart-ft a {
    position: relative;
    top: 8px;
    float: right;
}

.site-nav-float {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99;
    width: 100%;
    min-height: 258px;
    border: 1px solid #eee;
    background-color: #fff;
}

.site-nav-float .site-nav-mod-wrap {
    position: relative;
    z-index: 99;
    overflow: hidden;
    float: left;
    width: 25%;
}

.site-nav-float .site-nav-mod {
    overflow: hidden;
    padding: 5px;
    border-right: 1px solid #eee;
}

.site-nav-float .site-nav-mod h4 {
    margin: 5px;
    height: 20px;
    font-size: 16px;
    line-height: 20PX;
    font-weight: 600;
}

.site-nav-float .site-nav-sitemap li {
    float: left;
    height: 25px;
    padding-top: 5px;
}

.site-nav-float .site-nav-mod.theme-mark li {
    width: 24%;
}

.site-nav-float .site-nav-mod.features-mark li,
.site-nav-float .site-nav-mod.ali-app li {
    width: 33%;
}

.site-nav-float .site-nav-mod.good-rec li {
    width: 49%;
}

.site-nav-float .site-nav-sitemap li a {
    display: inline-block;
    height: 25px;
    margin: 0 2px;
    padding: 0 8px;
    line-height: 25px;
    border-radius: 2px;
}

.site-nav-float .site-nav-mod.theme-mark li a:hover {
    color: #fff;
    background-color: #FF5500;
}

.site-nav-float .site-nav-mod.features-mark li a:hover {
    color: #fff;
    background-color: #A0B959;
}

.site-nav-float .site-nav-mod.ali-app li a:hover {
    color: #fff;
    background-color: #DF61AB;
}

.site-nav-float .site-nav-mod.good-rec li a:hover {
    color: #fff;
    background-color: #52A0E5;
}

.site-nav-float .site-nav-mod.theme-mark h4 {
    color: #FC4200;
}

.site-nav-float .site-nav-mod.features-mark h4 {
    color: #9fb383;
}

.site-nav-float .site-nav-mod.ali-app h4 {
    color: #d75696;
}

.site-nav-float .site-nav-mod.good-rec h4 {
    color: #2e9fdb;
}


/* header END */


/* footer START */

.footer {
    width: 1190px;
    margin: 0 auto;
}

.footer2 {
    margin-top: 20px;
    background-color: #fff;
}

.footer2 .ali-link-list {
    padding-top: 7px;
    padding-bottom: 8px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.footer2 .ali-link-list p,
.footer2 .ft-aboutus p {
    overflow: hidden;
    line-height: 27px;
}

.footer2 .ali-link-list p span,
.footer2 .ft-aboutus p span {
    margin: 0 4px;
}

.footer2 .ali-link-list p a,
.footer2 .ft-aboutus p a {
    color: #6c6c6c;
}

.footer2 .ali-link-list p a:hover,
.footer2 .ft-aboutus p a:hover {
    color: #FF4400;
}

.footer2 .ali-link-list p em,
.footer2 .ft-aboutus p em {
    margin: 0 3px;
    color: #ddd;
}

.footer2 .ft-aboutus {
    padding-top: 8px;
}

.footer2 .ft-aboutus p {
    padding-bottom: 8px;
    line-height: 18px;
}

.footer2 .ft-aboutus p .copyright-dec {
    margin-left: 30px;
    color: #9C9C9C;
}

.footer2 .ft-aboutus p span {
    color: #9C9C9C;
}

.footer2 .ft-aboutus .ft-sprite {
    display: inline-block;
    background: url("../images/footer-sprite.jpg") no-repeat;
}

.footer2 .ft-aboutus p .ft-sprite1 {
    width: 20px;
    height: 20px;
    background-position: -861px 0px;
    vertical-align: middle;
}

.footer2 .supervise-link .supervise-mode {
    display: inline-block;
    height: 40px;
    margin-left: 4px;
    margin-right: 15px;
    background: url("../images/footer-sprite.jpg") no-repeat;
}

.footer2 .supervise-link .supervise-mode1 {
    width: 36px;
    background: url("../images/ft-sprite2.gif") no-repeat;
}

.footer2 .supervise-link .supervise-mode2 {
    width: 30px;
    background-position: 0 0;
}

.footer2 .supervise-link .supervise-mode3 {
    width: 33px;
    background-position: -40px 0;
}

.footer2 .supervise-link .supervise-mode4 {
    width: 50px;
    background-position: -80px 0;
}

.footer2 .supervise-link .supervise-mode5 {
    width: 83px;
    background-position: -140px 0;
}

.footer2 .supervise-link .supervise-mode6 {
    width: 250px;
    background: url("../images/footer-sprite3.png_250x250") no-repeat 0 -18px;
}

.footer2 .supervise-link .supervise-mode7 {
    width: 105px;
    background-position: -650px 0;
}

.footer2 .supervise-link .supervise-mode8 {
    width: 82px;
    background-position: -345px 0;
}

.footer2 .supervise-link .supervise-mode9 {
    width: 97px;
    background-position: -761px 0;
}

.footer2 .supervise-link .supervise-mode10 {
    width: 249px;
    background-position: -884px 0;
}

.footer2 .supervise-link .supervise-mode11 {
    width: 249px;
    background-position: -884px 0;
    background: url("../images/footer-sprite4.jpg") no-repeat;
}